* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.container {
    height: 100vh;
    background: rgb(53,80,94);
    background: linear-gradient(225deg, rgba(53,80,94,1) 0%, rgba(65,138,118,1) 100%);
    padding: 5rem 0;
}

.bg_changed {
    background: rgb(53,80,94);
    background: linear-gradient(180deg, rgba(53,80,94,1) 0%, rgba(65,138,118,1) 100%);
}
h1 {
    color: #fff;
    font-size: 3rem;
}

button {
    border: 1px solid white;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: 'Montserrat';
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: white;
    margin: 0.7rem;
    position: fixed;
    top: 0;
    right: 0;
}

.span {
    font-size: 2rem;
    color: #47b986;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

img {
    padding: 0 0.5rem;
}